body{
    background: #cccccc;
    /* background-color: red; */
    background: url("../images/backgroundImage.jpg");
}
#Header a:hover{
    color: #ffffff;
}
#bg-img{
    
    background-size: 100px;
    background-repeat: no-repeat;
    min-height: 500px;
}
#About{
    margin-top: -120px;
}
